.card-container {
    word-wrap: break-word;
    background-color: #343a40;
    padding: 20px;
    margin-top: 20px;
    color: white;
    border-radius: 10px;
    border: 2px solid #cc4848;
    width: 80%;
    /* Ширина контейнера */
    max-width: 800px;
    /* Максимальная ширина */
    margin: 30px auto;
    box-shadow: 0px 3px 7px black;
    /* Автоматические отступы по бокам для центрирования */
}

.card-header {
    background-color: #545454;
    display: flex;
    justify-content: space-between;
    /* Располагает элементы по краям */
    align-items: center;
    /* Выравнивает вертикально */
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #cc4848;
}

.card-footer {
    background-color: #545454;
    display: flex;
    margin-bottom: 10px;
}

/* .card-button {
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #cc4848;
    border-radius: 10px;
    background-color: #343a40;
    margin-left: 3px;
    margin-right: 3px;
}
.card-button:hover {
    background-color: #4c4c4c;
    border-radius: 20px;
    border: 4px solid #cc4848;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: auto;
    margin-bottom: auto;
} */
.card-button {
    outline: 2px solid #cc4848;
    outline-offset: -2px;
    background: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #343a40;
    margin-left: 3px;
    margin-right: 3px;
    color: #ffffff;
    position: relative;
    
    /* Добавляем относительное позиционирование */
}

.card-button:hover {
    background-color: #4c4c4c;
    border-radius: 20px;
    outline: 4px solid #cc4848;
    outline-offset: -2px;
}
.card-button:focus {
    background-color: #4c4c4c;
    border-radius: 20px;
    outline: 4px solid #cc4848;
    outline-offset: -2px;
}

.card-hr {
    border: none;
    /* Убираем стандартный вид линии */
    height: 2px;
    /* Толщина линии */
    background-color: #cc4848;
    /* Цвет линии */
    margin: 10px 0;
    /* Отступы сверху и снизу */
}
