.pagination-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.pagination {
    margin: 0;
    padding: 10px;
    background-color: #343a40;
    border-radius: 40px;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
    display: inline-block;
    
    border-radius: 10px;
    border: 2px solid #cc4848;
}

.pagination li {
    display: inline-block;
    list-style: none;
}

.pagination li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #545454;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border-radius: 4px;
    margin: 5px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.pagination li a:hover,
.pagination li a.active {
    color: #ffffff;
    background-color: #cc4848;
}

.pagination li:first-child a {
    border-radius: 40px 0 0 40px;
}

.pagination li:last-child a {
    border-radius: 0 40px 40px 0;
}