<link href="C:\Users\timka\PycharmProjects\GoodGameTournaments\django_project\static\styles\blocks copy.css" rel="stylesheet">
<script src="C:\Users\timka\PycharmProjects\GoodGameTournaments\django_project\static\js\spoiler.js" defer></script>

<div class="card-container">
    <div class="spoiler">
        <button class="spoiler-toggle">Показать текст</button>
        <div class="spoiler-content">
            <h3 class="card-header">
                Ограничения отправки приглашений
            </h3>
            <ol>
                <li>Допустимый интервал времени между приглашениями: 24 часа.</li>
                <li></li>
            </ol>
        </div>
    </div>
</div>