{% extends "includes/base.html" %}
{% block title %}Запросы на участие в турнире{% endblock %}

{% block content %}

<div class="card-container">
    <h1>Приглашения в команду</h1>
    {% for invitation in invitations %}
        <div class="card-inner-container">
            <h2 class="card-header">
                <span class="header-username">{{ invitation.team.name }}</span>
                <span class="header-status">{{ invitation.get_status_display }}</span>
            </h2>
            {% if invitation.status == "pending" %}
                <a href="{% url 'teams:accept_invitation_team' invitation_id=invitation.id %}">
                    <button class="card-button w-100" align="right">
                        ✓ Принять
                    </button>
                <a>
                <a href="{% url 'teams:reject_invitation_team' invitation_id=invitation.id %}">
                    <button class="card-button w-100" align="right">
                        ✕ Отклонить
                    </button>
                <a>
            {% else %}
                <a href="{% url 'teams:show_team' team_id=invitation.team.id %}">
                    <button class="card-button w-100" align="right">
                        Перейти к команде
                    </button>
                <a>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}